	 -----
	 Development
	 -----
	 mprins
	 -----

Development

%{toc|section=1|fromDepth=2|toDepth=2}

* {Building from source}

  * Check out the sourcecode

+----+
git checkout ${project.scm.url} ${project.artifactId}
+----+

  * build using Maven

+----+
cd ${project.artifactId}
mvn install
+----+

  []


* {Code Conventions}

  We use tabs.

* {Unit testing}

  Please provide a unit or integration test with your pull request.

* {Contributing}

  Please read the {{{https://github.com/GeoDienstenCentrum/sass-maven-plugin/blob/master/CONTRIBUTING.md} contributing}}
  document before submitting a pull request. You may be required to sign the
  {{{https://www.clahub.com/agreements/GeoDienstenCentrum/sass-maven-plugin} Contributor License Agreement}} before
  your contribution is merged.

* {Creating a Release}

  Assuming the requirements for pushing to the OSRRH repository are set up,
  eg. account, gpg signature,... use the following commands:

+----+
mvn -Prelease clean release:clean release:prepare
mvn install -Dmaven.test.skip=true -B -V -fae -q -T2
mvn -Prelease release:perform
+----+

  Then deploy the site to github:

+----+
cd target/checkout
mvn site-deploy -Dgithub.username=<username> -Dgithub.password=<password>
+----+

  Update the release notes to reflect the new release cycle.
