	 -----
	 Release notes
	 -----
	 mprins
	 -----
	 12 dec  2014
	 -----

~~ reference: http://maven.apache.org/doxia/references/apt-format.html

~~ Note that we're using eg. ${project.properties.get("jruby.version")} to work
~~     around a limitation getting pom properties with a dot.


${project.name} ${project.version} Release Notes

  These are the release notes for ${project.name} version ${project.version}.

%{toc|section=1|fromDepth=2|toDepth=2}

* ${project.version} Release Notes

  A complete list of issues can be seen in the tracker
  {{{${project.issueManagement.url}?q=milestone%3A${project.version}+is%3Aclosed}milestone ${project.version} }}.

  This release features Compass version ${project.properties.get("compass.version")}
  and Sass version ${project.properties.get("sass.version")}
  running on JRuby ${project.properties.get("jruby.version")}.
  Please check the {{{/${project.artifactId}/dependencies.html#provided}full dependencies}}
  to find out about the specific Sass and other transitive dependencies
  included in this release.

** New

  * A <<<skip>>> parameter was added to skip plugin execution
    ({{{https://github.com/GeoDienstenCentrum/sass-maven-plugin/issues/60}#60}})

  * Skip unmodified files ({{{https://github.com/GeoDienstenCentrum/sass-maven-plugin/issues/18}#18}})

  []

** Fix

  *

  []

** Enhancements

  * 

~~  * Update Sass to version ${project.properties.get("sass.version")}, please check
~~    the {{{http://sass-lang.com/documentation/file.SASS_CHANGELOG.html}Sass changelog}}

~~  * Update SCSS-Lint to version ${project.properties.get("scss-lint.version")}, please check
~~    the {{{https://github.com/brigade/scss-lint/blob/master/CHANGELOG.md}SCSS-Lint changelog}}

~~  * Update Compass to version ${project.properties.get("compass.version")}

~~  * Update JRuby to ${project.properties.get("jruby.version")}

  []

* 2.9 Release Notes

  A complete list of issues can be seen in the tracker
  {{{${project.issueManagement.url}?q=milestone%3A2.9+is%3Aclosed}milestone 2.9 }}.

  This release features Compass version 1.0.3 and Sass version 3.4.16 running on JRuby 9.0.0.0. 
  Please check the {{{/${project.artifactId}/dependencies.html#provided}full dependencies}}
  to find out about the specific Sass and other transitive dependencies
  included in this release.

** Fix

  * As a result of updating JRuby most Windows issues are expected to be fixed
    ({{{https://github.com/GeoDienstenCentrum/sass-maven-plugin/issues/41}#41}}),

** Enhancements

  * Update Sass to version 3.4.16, please check
    the {{{http://sass-lang.com/documentation/file.SASS_CHANGELOG.html#3416_10_july_2015}Sass changelog}}

  * Update JRuby to 9.0.0.0

  []

* 2.8 Release Notes

  A complete list of issues can be seen in the tracker
  {{{${project.issueManagement.url}?q=milestone%3A2.8+is%3Aclosed}milestone 2.8}}.

  This release features Compass version 1.0.3 and Sass version 3.4.15 running on JRuby 1.7.21.
  Please check the {{{/${project.artifactId}/dependencies.html#provided}full dependencies}}
  to find out about the specific Sass and other transitive dependencies
  included in this release.

** New

  * More elegant way of handling faulty resources {{{https://github.com/GeoDienstenCentrum/sass-maven-plugin/issues/57}#57}}

  []

** Enhancements

  * Update SCSS-Lint to version ${project.properties.get("scss-lint.version")}, please check
    the {{{https://github.com/brigade/scss-lint/blob/master/CHANGELOG.md}SCSS-Lint changelog}}

  * Update JRuby to ${project.properties.get("jruby.version")}

  []

* 2.7 Release Notes

  A complete list of issues can be seen in the tracker
  {{{${project.issueManagement.url}?q=milestone%3A2.7+is%3Aclosed}milestone 2.7}}.

  This release features Compass version 1.0.3 and Sass version 3.4.15 running on JRuby 1.7.20.1.
  Please check the {{{/${project.artifactId}/dependencies.html#provided}full dependencies}}
  to find out about the specific Sass and other transitive dependencies
  included in this release.

** New

  * Add a {{{/${project.artifactId}/faq.html}FAQ}} describing a Windows issue workaround

  []


** Enhancements

  * Update Sass to version 3.4.15, please check
    the {{{http://sass-lang.com/documentation/file.SASS_CHANGELOG.html#3415_22_june_2015}Sass changelog}}

  * Update JRuby dependency to 1.7.20.1 (security fix)

  []

* 2.6 Release Notes

  A complete list of issues can be seen in the tracker
  {{{${project.issueManagement.url}?q=milestone%3A2.6+is%3Aclosed}milestone 2.6}}.

  This release features Compass version 1.0.3 and Sass version 3.4.14 running on JRuby 1.7.20.
  Please check the {{{/${project.artifactId}/dependencies.html#provided}full dependencies}}
  to find out about the specific Sass and other transitive dependencies
  included in this release.

** Enhancements

  * Update Maven libraries to 3.3.3 and start using Maven 3.3.3 in builds

  * Update SCSS-Lint to version 0.39.0

  * Update Sass to version 3.4.14

  * Update JRuby to 1.7.20

  []

* 2.5 Release Notes

  A complete list of issues can be seen in the tracker
  {{{${project.issueManagement.url}?q=milestone%3A2.5+is%3Aclosed}milestone 2.5}}.

  This release features Compass version 1.0.3 and Sass version 3.4.13 running on JRuby 1.7.9.
  Please check the {{{/${project.artifactId}/dependencies.html#provided}full dependencies}} to find out about the
  specific Sass and other transitive dependencies included in this release.

** New

  * Add an optional parameter to specify a <<<compass.rb>>> file

  []

** Enhancements

  * Update maven libraries to 3.3.1 and start using Maven 3.3.1 in builds

  * Update SCSS-Lint to version 0.37.0

  []


* 2.4 Release Notes

  A complete list of issues can be seen in the tracker
  {{{${project.issueManagement.url}?q=milestone%3A2.4+is%3Aclosed}milestone 2.4}}.

  This release features Compass version 1.0.3 and Sass version 3.4.13 running on JRuby 1.7.19.
  Please check the {{{/${project.artifactId}/dependencies.html#provided}full dependencies}} to
  find out about the specific Sass and other transitive dependencies included in this release.

** Fix

  * Use the latest version of the ffi gems which had serious bugs in the last release

  []

** Enhancements

  * Update SCSS-Lint to version 0.35.0

  []

* 2.3 Release Notes

  A complete list of issues can be seen in the tracker
  {{{${project.issueManagement.url}?q=milestone%3A2.3+is%3Aclosed}milestone 2.3}}.

  This release features Compass version 1.0.3 and Sass version 3.4.13 running on JRuby 1.7.19.
  Please check the {{{/${project.artifactId}/dependencies.html#provided}full dependencies}} to find out about the
  specific Sass and other transitive dependencies included in this release.

** New

  * Add {{{https://github.com/causes/scss-lint}SCSS-Lint}} based linting and reporting. Enhance your QC now!

  []

** Enhancements

  * Update Sass to version 3.4.13

  []


* 2.2 Release Notes

  A complete list of issues can be seen in the tracker
  {{{${project.issueManagement.url}?q=milestone%3A2.2+is%3Aclosed}milestone 2.2}}.

  This release features Compass version 1.0.3 running on JRuby 1.7.19.
  Please check the {{{/${project.artifactId}/dependencies.html#provided}full dependencies}} to find out about the
  specific Sass and other transitive dependencies included in this release.

** Enhancements

  * update JRuby to latest release (1.7.19)

  * update Compass (1.0.3) and Sass (3.4.12) to latest release

  []


* 2.1 Release Notes

  A complete list of issues can be seen in the tracker
  {{{${project.issueManagement.url}?q=milestone%3A2.1+is%3Aclosed}milestone 2.1}}.

  This release features Compass version 1.0.3 running on JRuby 1.7.18.
  Please check the {{{/${project.artifactId}/dependencies.html#provided}full dependencies}} to find out about the
  specific Sass and other transitive dependencies included in this release.

** Enhancements

  * update JRuby to latest release (1.7.18)

  * update Compass (1.0.3) and Sass to latest release

  []

** New

  * enable setting the ruby version from the pom

  []


* 2.0 Release Notes

  A complete list of issues can be seen in the tracker
  {{{https://github.com/GeoDienstenCentrum/sass-maven-plugin/issues?q=milestone%3A2.0d}milestone 2.0}}.

** Enhancements

  * update versions of Sass (3.4.9) and Compass (1.0.1)

  * java version update

  []
