/* decorator voor een tooltip functie van focus-able elementen zoals a en button */
.hasTooltip {
	//zorgt voor vreemde plaatsing van buttons overview kaart... position:relative;
	z-index: $z-zoekContainer + 100;
	
	& span {
		/* afgeleid van .visually-hidden */
		position: absolute;
		clip: rect(1px 1px 1px 1px); /* < IE8 */
		clip: rect(1px, 1px, 1px, 1px);
		padding: 0;
		border: 0;
		height: 1px;
		width: 1px;
		overflow: hidden;
		will-change: opacity, clip;
		opacity: 0;

		@include animation-name(fadeIn);
		@include animation-timing-function(ease);
		@include animation-delay(.35s);
		@include animation-duration(5s);
		@include animation-iteration-count(1);
	}

	&:hover span, 
	&:focus span {
		clip: auto;
		padding: 2px;
		/* border: $ControlBorder; */
		height: auto;
		width: auto;
		bottom: 3em;
		right: 0px;
		z-index: $z-zoekContainer + 100;
		max-height: 100px;
		white-space: nowrap;
		display: inline-block;
		background-color: #fff;
		color: #000;
		/* @include border-radius(3px); */
		/* @include box-shadow(2px 2px 2px $ControlBorderColour); */
		font-size: 12px;
		font-weight: normal;
		//opacity: 1;

		//@include single-transition(opacity 0.5s ease-in 0.1s);
		@include animation-name(fadeOut);
	}
}


@include keyframes(fadeIn){
	0% { 
		opacity: 0;
	}
	100% { 
		opacity: 0;
	}
}

@include keyframes(fadeOut){
	from { 
		opacity: 1;
	}
	to {
		opacity:0;
	}
}